.input-wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.input-wrapper-group {
  display: flex;
  flex: 1
}

.linked-btn {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  margin-left: 8px;
  padding-left: 12px;
}
.dimention-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.dimention-label {
  margin-bottom: 4px;
  margin-right: 100px;
}
.dimentions-input-label {
  font-size: 0.75em;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: row;
}
.input-container .input-wrapper:first-child input {
  border-width: 1px;
  border-radius: 4px 0px 0px 4px;
}
.input-container .input-wrapper input {
  min-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-width: 1px 1px 1px 0px;
  border-color: #8d96a0;
  border-style: solid;
  border-radius: 0;
  width: 100%;
}
.input-container .input-wrapper:nth-child(5) input {
  border-radius: 0px 4px 4px 0px;
}
.input-container .input-wrapper button {
  margin-left: 0px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #8d96a0;
  border-left: none;
}
